body{ 
    background: rgb(77, 205, 228);
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    }
    
.Formulario{
    background: rgb(144, 224, 171);
    margin: auto;
    width: 600px;
    padding: 8px;
    margin-top: 100px;
    border-radius: 5%;
    }
    

.contenedor{
    width: 100%;
    padding: 2px;
    }

h1{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    }

input 
    {
    font-size: 10px;
    width: 30%;
    padding: 10px;
    border: none;
    }

input#impar{
    position: relative;
    left: 200px;
    }

input#base{
    position: relative;
    left: 100px;
    }
input#altura{
    position: relative;
    left: 150px;
    }
  
input#cadena{
    position: relative;
    left: 200px;
    }  
    
.input-contenedor{
    margin-bottom: 5% ;
    border: 3px solid rgb(247, 247, 247);
    margin-top: 40px;
    }

button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #3a49d3;
    padding: 8px 20px; border-radius: 6px;
    cursor: pointer;
    }

button:hover{
    background-color: #16572b;
    color: rgb(2, 2, 2);
    }
 
.Clabel{
    font-size: 20px;

    color: rgb(0, 0, 0);
}

